/TestWebApi/.vs
/TestWebApi/.vscode
/TestWebApi/obj
/TestWebApi/TestWebApi/bin
/TestWebApi/TestWebApi/obj
/TestWebApi/TestWebApi2/obj
/TestWebApi/TestWebApi2/bin
/EventBus/obj
/EventBus/bin
/TestWebApi/Common/obj
/TestWebApi/Common/bin
/TestWebApi/UnitTests/obj
/TestWebApi/UnitTests/bin
/TestWebApi/nginx/obj
/TestWebApi/bin
